
export class {{ ProcessDef }}ProcessInstanceContext {
    __variablesRef = []

    async saveContext(context){
        this.__variablesRef.filter(variable => variable.needToSave());
        // await new VariableRepository().bulkUpsertVariables(variables, this.processInstanceService.id, this.processInstanceService.processDef);
    }

}