import  {AndromedaLogger} from ".config/andromeda-logger.js";
const Logger = new AndromedaLogger();
import {v4} from "uuid";

class {{ServiceClassName}} {
    _metaInfo = {}

    bootstrap(){
    }
    close(){
    }
}

export default {{ServiceClassName}}