
class {{ ControllerClassName }} {

    static start = async (req, reply) => {

        if(!req.body.deploymentId){
            throw new Error("deploymentId must be specified");
        }

        try {

            return {};
        } catch (err) {
            const returnError = new Error();
            returnError.statusCode = 500;
            returnError.message = err;
            returnError.stack=err;
            throw returnError;
        }
    }

}

export default {{ ControllerClassName }};