import  {AndromedaLogger} from "../config/andromeda-logger.js";
const Logger = new AndromedaLogger();

class {{ ControllerClassName }} {

    static start = async (req, res) => {

        try {
            let variables = {};
            if(req.body && req.body.variables){
                variables = JSON.parse(req.body.variables);
            }

            if(req.files){
                Object.keys(req.files).forEach( (file) => {
                Logger.debug(`storing file ${file} in persistent storage`);
                });
            }
            const processInstance = await {{ startMethod.name }}ProcessInstanceService.createInstance();
            processInstance.bootstrap(variables);
            res.json({id: processInstance.id})

        } catch (err) {
            const returnError = new Error();
            returnError.statusCode = 500;
            returnError.message = err;
            returnError.stack=err;
            throw returnError;
        }
    }
}

export default {{ ControllerClassName }};