let flows = {};
{% for flow in outgoingSequenceFlows %}
    //
    await PersistenceGateway.createFlowEvent(this.createFlowEvent('{{ flow.id }}'));
    let flow ={}
    {% if flow.conditionExpression !== '' and flow.conditionExpression !== undefined %}
    if (await this.evaluate('{{ flow.conditionExpression.body }}')) {
        flow.executable = true;
    }else{
        flow.executable = false;
    }
    {% else %}
        flow.executable = true;
    {% endif %}
{% endfor %}


//if(flows.size > 0){
//    await this.bulkCreateSequenceFlow(Array.from(flows.values()));
//}
{% for flow in outgoingSequenceFlows %}

   // let nextFlowModel = flows.get('{{ flow.id }}');
   let nextFlowModel = {id: '{{ flow.id }}' };
  //  if(nextFlowModel.executable){
   // let $args = {}
    this.callFunction({{ flow.targetNodeMethodSignature }} , __localMethodContext, {incomingFlowId: '{{ flow.id }}' });
   // }

{% endfor %}
